# Certificats et clés privées
certs/

# Secrets déclarés en YAML
k8s/secrets-*.yaml

# éviter de commettre les manifests sensibles
k8s/wordpress-salts.yaml
k8s/examples/

terraform/.terraform/
webproject/secrets/*.yaml
